<% include ../partials/header %>

<div class='container'>
	<header class ='jumbotron'>
		<div class='container'>
			<h1>Travel Camps Page</h1>
			<p>Some travel experience from me...</p>
			<p class='btn btn-secondary btn-lg'>
				<a href="/camps/new"> Add new Travel Camp</a>
			</p>
		</div>
	</header>

	<div class='row text-center' style="display:flex; flex-wrap: wrap;">
		<% camps.forEach(function(camp){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= camp.image %>">
					<div class="caption">
						<h4><%= camp.name %></h4>
					</div>
					<p>
						<a href="/camps/<%= camp._id %>" class="btn btn-primary">More info </a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>
